[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ASMap"]
	path = ASMap
	url = https://github.com/drj001/asmap
[submodule "hett"]
	path = hett
	url = https://github.com/cran/hett
[submodule "wgaim"]
	path = wgaim
	url = https://github.com/drj001/wgaim
